VITE_SUPABASE_URL=https://ysrjkogujrkdtifiiqww.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlzcmprb2d1anJrZHRpZmlpcXd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxMDY4MDcsImV4cCI6MjA5ODY4MjgwN30.QW_DUsOkQ6bxBenOPi0C0Lg-X71zQs5qQL--w-9tht8
VITE_API_URL=http://localhost:8000
