# Ambiente virtual
venv/
env/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Cache do Streamlit
.streamlit/cache/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Backend (FastAPI)
backend/.env
backend/venv/

# Frontend (React/Vite)
frontend/node_modules/
frontend/dist/
frontend/.env

